<head>
    <meta charset="utf-8">
    <title>Django multiple continuous input Test</title>
</head>

<html lang="ja">
<div class="container">
    <body>
        <div>Django multiple continuous input Test Page</div>
        <li><a href="/compo_form/">compo form</a></li>
        <li><a href="/edit_blog_form/">edit blog form</a></li>
        <li><a href="/compo_list/">compo_list</a></li>
        <li><a href="/select/">select</a></li>
        <li><a href="/show_data/">show_data</a></li>
    </body>
</div>
</html>
